.adminLogo {
    height: 25px;
}
.menu-container {
    list-style: none;
    margin-top: 10px;
}

.menuLinks {
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}
.mt-5 {
    margin-top: 20px;
}
.nev-items {
    display: flex;
    align-items: center;
    color: #fff;
}

.admin-left-sight {
    background-color:#2D363F;
    height: 120vh;
}

@media screen and (max-width: 900px) {
    .admin-left-sight {
        height: 40vh;
    }
    .adminLogo {
        height: 50px;
    }
}