.adminLogo {
    height: 50px;
    display: block;
    margin: auto;
}
.menu-container {
    list-style: none;
}

.menuLinks {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.nev-items {
    display: flex;
    align-items: center;
    color: #fff;
}

.admin-left-sight {
    background-color:#2D363F;
    height: 120vh;
}

