.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.p-5 {
    padding: 50px 10px;
}
.form-container {
    display: flex;
}
.input {
    width: 75%;
}
.addAdminButton {
    padding: 20px 30px;
    border: 0;
    outline: none;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}