.crew-container {
    padding: 60px 50px;
}
.crew-img {
    width: 100%;
    height: 250px;
}

.crew-card {
    background-color: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
}

.crew-card:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}