.statusButton {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #fff;
}

.booking-card-img {
    width: 100%;
    height: 150px;
}

.card-title {
    font-size: 15px;
    font-weight: 600; 
}

.booking-container {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin: 10px;
}

.statusButton.green {
    background-color: green;
}

.statusButton.red {
    background-color: red;
}

.statusButton.blue {
    background-color: deepskyblue;
}