.service {
    background-color: #fff;
    margin: 20px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.service-img {
    width: 100%;
    height: 300px;
    transition: 0.5s;
}
.service-img:hover {
    transform: scale(1.3);
}
.service-title {
    font-size: 17px;
    color: #7E8885;
    letter-spacing: 1px;
}

.location {
    color: #7E8885;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    width: 75%;
    flex-direction: column;
}

.right {
    width: 25%;
    text-align: center;
}

.service-body {
    padding: 10px 15px;
}

.service-price {
    font-size: 20px;
    color: #CFA46D;
    font-weight: bold;
    line-height: 10px;
}

.service-type {
    font-size: 15px;
    font-style: italic;
}

.duration {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.service-icon {
    color: #CFA46D;
    margin-right: 5px;
}